<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.researchbeast.myspectrum" >

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name=".activities.NewEventActivity"
            android:label="@string/title_activity_new_event"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ViewHistoryActivity"
            android:label="@string/title_activity_view_history"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ViewEventActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ViewHistoryActivity" />
        </activity>
        <activity
            android:name=".NewTextDraftActivity"
            android:label="@string/title_activity_new_text_draft"
            android:parentActivityName=".activities.CardViewActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.researchbeast.myspectrum.activities.CardViewActivity" />
        </activity>
        <activity
            android:name=".ViewTextDraftHistoryActivity"
            android:label="@string/title_activity_view_text_draft_history"
            android:parentActivityName=".activities.CardViewActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.researchbeast.myspectrum.activities.CardViewActivity" />
        </activity>
        <activity
            android:name=".activities.CardViewActivity"
            android:label="@string/title_activity_card_view"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>
        <activity android:name=".activities.GamesActivity" >
        </activity>
        <activity android:name=".activities.InfoSitesActivity" >
        </activity>
        <activity android:name=".activities.AboutActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.researchbeast.myspectrum.activities.CardViewActivity" />
        </activity>
    </application>

</manifest>
